{% extends "base.html" %}
{% block title %}Delete Product{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-6">
    <div class="card shadow border-0 rounded-4">
      <div class="card-body text-center p-4">
        <h4 class="mb-3">Are you sure you want to delete <strong>{{ object.name }}</strong>?</h4>
        <form method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Yes, Delete</button>
          <a href="{% url 'my_products' %}" class="btn btn-secondary">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
